*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color-scheme: dark;
    font-family: system-ui;
}

body {
    height: 100vh;
    width: 100vw;
}
img {
    height: 90vh;
}
.carousel {
    display: grid;
    grid-auto-columns: 70%;
    grid-auto-flow: column;

    overflow-x: auto;
    scroll-snap-align: x mandatory;

    padding: 1rem;
    margin: 5rem;
    border: 1rem solid white;
    > li {
        list-style: none;
        scroll-snap-align: center;
        padding: 1rem;
    }
    > img {
        scroll-snap-align: center;
    }
    &::scroll-button(left) {
        content: '◀';
        background-color: #333;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
    &::scroll-button(right) {
        content: '▶';
        background-color: #333;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
}
